<div id="<%= dom_id workout %>">
  <p>
    <strong>Exercise1:</strong>
    <%= workout.exercise1 %>
  </p>

  <p>
    <strong>Exercise2:</strong>
    <%= workout.exercise2 %>
  </p>

  <p>
    <strong>Exercise3:</strong>
    <%= workout.exercise3 %>
  </p>

</div>
