<nav>
  <ul>
      <li><%= link_to "Fitness", root_path  %></li>
  </ul>
  <ul>
      <li><%= link_to "Workouts", workouts_path %></li>
      <li><%= link_to "List of Exercises", exercises_path %></li>
      <li><a href="#" role="button">Button</a></li>
  </ul>
</nav>