<nav>
  <ul>
      <li><%= link_to "Fitness", root_path  %></li>
  </ul>
  <ul>
      <li><%= link_to "Workouts", workouts_path %></li>
      <li><%= link_to "Exercise Library", exercises_path %></li>
      <li><a href="#" role="button">Log In</a></li>
  </ul>
</nav>