<p style="color: green"><%= notice %></p>
<h1>My Progress</h1>

<% @workouts.each do |workout| %>
  <article>
    <% if workout.exercise1_weight %>
      <p>Date of Workout: <%= workout.date %></p>
    <% else %>
      <p>No workout found.</p>
    <% end %>
  </article>
<% end %>
